/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.filters{
    font-size: small;
}

.cart-item{
    font-size: small;
}

.card,.form-control, .btn{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item-child{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-btn{
    font-size: smaller;
}