<div class="dash">
<h1 align="center"><b>Welcome Admin</b></h1>

<p></p>


<div class="container">
    <div align="center" class="vertical-center">
        <button  class="btn btn-primary" (click)="goToProductList()">Products List</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-success" (click)="goToVendorList()" >Vendors List</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-info" (click)="goToCustomerList()" >Customers List</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" (click)="gotolist()">Logout</button>
    </div>
</div>
</div>
