<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    
  </head>
  <body>
    <section id="contact">
       <div class="container"><br>
           <h1 class="text-center text-uppercase"><u>Contact Us</u></h1>
          <div class="para"><p align="Center" id="para" class="text-center w-75 m-auto">
               <b>Our mission:</b>
            At Happier, our mission is to help millions of people thrive in work 
            and life by improving their emotional health with science-backed 
            skills and practices.
            
           </p>
           <p align="center"><b>What we believe about living happier:</b>
            We believe that happiness is not a feeling, but a skill we can all learn and improve through practice.
            We believe that it's not a frivolous extra but a critical, non-negotiable ingredient in living a fulfilling, meaningful, healthy life.
            We believe that our greatest wellbeing is realized when we stop trying to turn the negative into the positive and 
            embrace the full range of human emotions with compassion and strength.</p>
          </div>
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Call Us</h4>
                    <h3><b>+917083217673, +917000776899</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">HEADQUATERS</h4>
                   <h3><b>Hingne Khurd, Sinhgad Road , Pune, Maharashtra 411051</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Company Site</h4>
                    <h3><b>Monte Rosa TechPark, Hinjewadi Pune,Maharashtra 411030</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Email</h4>
                    <h3><b>squareball@gmail.com</b></h3>
                  </div>
                </div>
             </div>
           </div>
       </div>
    </section>


