

  <div class="container">
    <h2>Deatils Of Product</h2>
    <br>
    <br>
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger"><b>Id:: </b>{{product.id}}</li>
      <li class="list-group-item list-group-item-success"><b>Name:: </b>{{product.name}}</li>
    
      <li class="list-group-item list-group-item-success"><b>Description:: </b>{{product.description}}</li>
      <li class="list-group-item list-group-item-success"><b>Unit Price:: </b>{{product.unitPrice}}</li>
      <li class="list-group-item list-group-item-success"><b>Quantity:: </b>{{product.quantity}}</li>
      <li class="list-group-item list-group-item-success"><b>Category Name:: </b>{{product.categoryName}}</li>
      <li class="list-group-item list-group-item-success"><b>Brand:: </b>{{product.brand}}</li>
      <li class="list-group-item list-group-item-success"><b>Vendor Name:: </b>{{product.vendorName}}</li>
      <li class="list-group-item list-group-item-success"><b>Vendor Email:: </b>{{product.vendorEmail}}</li>
     
    </ul>
    </div>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-danger "(click)="gotolist()">Back</button>