

  <div class="container">
    <h2>Deatils Of Customers</h2>
    <br>
    <br>
    <ul class="list-group">
      <li class="list-group-item list-group-item-success"><b>Id:: </b>{{customer.id}}</li>
      <li class="list-group-item list-group-item-info"><b>Name:: </b>{{customer.name}}</li>
      <li class="list-group-item list-group-item-warning"><b>Email:: </b>{{customer.email}}</li>
      <li class="list-group-item list-group-item-danger"><b>Contact Number:: </b>{{customer.contactNumber}}</li>
      <li class="list-group-item list-group-item-success"><b>Address:: </b>{{customer.address}}</li>
    </ul>
    </div>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-danger "(click)="gotolist()">Back</button>