
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>AboutUs</title>
</head>
<body>
  <header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-1  flex-col md:flex-row items-center">
      
    </div>
  </header>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ABOUT US</h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Sports is for Everyone</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We serve society by providing the wide variety of sports equipments.</p>
      </div>
  
   
        <div class="container px-5 py-24 mx-auto p-1">
          <div class="flex flex-col text-center w-full mb-10">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Why Sports ?</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Sports are a crucial part of a student's growth and development.
              They help in the development of mental health and physical fitness of the body.
              Through participation in sports and games, a student gains various skills, 
              experience and confidence that are helpful for developing their personality.</p>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Vivek Karnekar, Vikas Hande</h2>
                  <p class="text-gray-500">Founder</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Vivek Karnekar, Vikas Hande</h2>
                  <p class="text-gray-500">UI Designer</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Vivek Karnekar</h2>
                  <p class="text-gray-500">Backend Designer</p>
                </div>
              </div>
            </div>
            
            <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/90x90">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Vikas Hande</h2>
                  <p class="text-gray-500">Frontend Designer</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>